* {
  text-align: center;
}

body {
  background: #262626;
  margin-left: 1px;
}

h1 {
  font-family: 'Chonburi', cursive;
  font-size: 80px;
  color: #F2F2F2;
  text-decoration: underline;
  clear: left;
  margin-bottom: 15px;
}

h2 {
  font-family: 'Vollkorn', sans-serif;
  color: white;
}



form {
  background-image: url("images/battle_cropped.jpg");
  width: 1420px;
  height: 760px;
}


#about {
  position: relative;
  bottom: 2px;
  float: left;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  font-size: 18px;
  font-family: 'Vollkorn', sans-serif;
  color: white;
  background-color: #223A5E;
}

#about:hover {
  transition: 250ms all;
  background-color: #FFC433;
  color: white;
}


/*#about:active {
  box-shadow: 0 2px 0;
  transform: translateY(2px);
}*/

legend {
  color: white;
  font-size: 20px;
}


fieldset {
  position: fixed;
  background: rgba(158, 158, 158, 0.75);
  width:1388px;
}


#username {
  height: 25px;
  width: 150px;
  font-size: 18px;
  border-radius: 5px;
}

#play {
  border-radius: 5px;
  width: 100px;
  height: 40px;
  font-size: 18px;
  font-family: 'Vollkorn', sans-serif;
  color: white;
  background-color: #223A5E;
}

#play:hover {
  transition: 250ms all;
  background-color: #FFC433;
  color: white;
}

#dropMenu {
  border-radius: 5px;
  width: 100px;
  height: 40px;
  font-size: 18px;
  font-family: 'Vollkorn', sans-serif;
  color: white;
  background-color: #223A5E;
}

#dropMenu:hover {
    transition: 250ms all;
    background-color: #FFC433;
    color: white;
}
