* {
  text-align: center;
}

body {
  background: #262626;
  margin-left: 0px;
}

#outline {
  /*outline: 1px dotted orange;*/
  float:right;
  top: 10px;
  margin-top: 8%;
  margin-right: 1%;
  margin-left: -11%;
  padding: 2px;
  border: 5px solid #838487;
  border-radius: 5px;
}

#tables {
  float:left;
  margin-bottom: 3%;
}

.textCanvas {
  position: relative;
  top: 0px;
  background-color: #262626;
  /*background-color: white;*/
}

.gameboards {
  /*display: inline-block;*/
}

table {
	display: inline-block;
	position: relative;
  margin-top: 1%;
  /*margin-right: 1%;*/
	/*border: 10px solid black;*/
  /*width: 500px;
  height: 500px;*/
  width: 43%;
  height: 10%;
  margin-left: 5%;
}

h1 {
  font-family: 'Chonburi', cursive;
  font-size: 80px;
  color: #F2F2F2;
  text-decoration: underline;
  clear: left;
	margin-bottom: 15px;
}
h2 {
  font-family: 'Vollkorn', sans-serif;
  font-size: 18px;
  color: white;
}

td {
  font-family: 'Helvetica';
  background-color: #0468af;
	width: 40px;
	height: 35px;
  color: white;
  border: 1px solid black;
}

#home {
  position: relative;
  bottom: 2px;
  float: left;
  border-radius: 5px;
  width: 100px;
  height: 40px;
	font-size: 14px;
	padding: 1px;
  font-family: 'Vollkorn', sans-serif;
  color: white;
  background-color: #223A5E;
}

#home:hover {
  transition: 250ms all;
  background-color: #FFC433;
  color: white;
}

/*legend {
  color: white;
  font-size: 20px;
}*/

#coordinates {
  height: 25px;
  font-size: 18px;
  border-radius: 5px;
	width: 100px;
}

#fire {
  border-radius: 5px;
  width: 100px;
  height: 40px;
  font-size: 18px;
  font-family: 'Vollkorn', sans-serif;
  color: white;
  background-color: #223A5E;
}

#fire:hover {
  transition: 250ms all;
  background-color: #C90000;
  color: white;
}
