* {
  text-align: center;
}

body {
  /*background: -webkit-linear-gradient(#F2F2F2, #DBDBDB);*/
  background: #262626;
  margin-left: 0px;
}

table {
	position: relative;
	margin: auto;
	border: 10px solid black;
  width: 500px;
  height: 500px;
}

h1 {
  font-family: 'Chonburi', cursive;
  font-size: 80px;
  color: #F2F2F2;
  text-decoration: underline;
  clear: left;
}

td {
  font-family: 'Helvetica';
  background-color: #034F84;
	width:30px;
	height: 30px;
  color: white;

  text-align: center;
  border: 1px solid black;
}

form {

}
