
table {
	position: relative;
	margin: auto;
	border: 10px solid black;
  width: 500px;
  height: 500px;
}

td {
  font-family: 'Helvetica';
  background-color: #034F84;
	width:30px;
	height: 30px;
  color: white;

  text-align: center;
  border: 1px solid black;
}

form {

}
